.logo {
  margin-left: 1rem;
  width: 3rem;
  background-color: transparent;
  margin-bottom: -1rem;
}
.profilPicture {
  height: 2rem;
  border-radius: 10rem;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.nameEnt {
  font-size: 1.1rem;
  margin-top: 0.8rem;
  color: white;
}

.containerLogo {
  display: flex;
  gap: 0.5rem;
}
